
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif; ;
}

.main-login{
    width: 100vw; /* vw: viewport width - porcentagem da largura do viewport (100vw = 1.000px)*/
    height: 100vh; /* vw: viewport height - porcentagem da largura do viewport (100vw = 1.000px)*/
    background: #201b2c;
    display: flex; /*lado a lado os elementos*/
    justify-content: center ; 
    align-items: center;
}  

/*justify-content - centraliza as coisas no eixo X (horizontal) e pode ser flex-start para justificar as coisas para esquerda, flex-end para justificar as coisas para direita, center para ficar td no centro, space-between vai criar um espaço igual para todos os elementos (saindo da margem e space-around também cria um espaço igual para os elementos porem menor e não saindo diretamente das margens */

.left-login{
    width: 50vw;
    height: 100vh;
    margin: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1{
    font-size:3vw ;
    color: #77ffc0;
 
}

.img{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 90%; /*a porcentagem pega o tamanho da div que esta o card login(nesse caso)*/
    margin: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; /*30 adc padding no eixo y cima e baixo e os 35 foi adc no eixo x esquerda e direita*/
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056; /* primeiro valor refere-se ao X se quer que a sombra vá para a direita ou para a esquerda; O 2° referece se quer que vá para cima ou parabaixo, nesse caso de 10px ela vai para baixo, para ir para cima seria -10px; O 3° é o blur e o 4° é a cor */

}

.card-login h1{
    color: #00ff88;
    font-weight: 800; /*font-weight > o peso da fonte a grossura da fonte*/
    /* margin: 0; */
}

.textField{
    width: 100%;
    display: flex;
    flex-direction: column; /* O justify-content ficava no eixo x (vertical) e o align-items era no eixo y (horizontal) quando usamos o flex-direction inverte e justify-content ficava no eixo x (vertical) passa a ficar no EIXO Y (HORIZONTAL) e o align-items era no eixo x (horizontal) passa a ser NO EIXO X vertical*/
    align-items: flex-start; /*neste caso precisamos dele a esquerda*/
    justify-content: center; /*centralizado*/
    margin: 10px 0px;

}

.textField input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869 ;
    color: #f0ffffde ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textField label{
    color:#f0ffffde ;
    margin-bottom: 10px;

}

.textField input::placeholder{
    color:#f0ffff94 ;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase; /*transforma toda a escrita em maiuscula*/
    font-weight: 800;
    letter-spacing: 2px /*espaçamento*/;
    color: #2b134b;
    background-color: #00ff88 ;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff0052;
}
